.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  display: flex;

}

p {
  /* display: none; */
  flex-grow: 0;
  width: calc(100% - 50%);
}

.inner div {
  width: calc(100% - 50%);
  border: 1px solid;

}